---
import { Link } from "@components/Link"
import { PaperclipIcon  } from "lucide-react"
import SiteLayout from "@layouts/SiteLayout.astro"
---

<SiteLayout title="About">
  <section class="gap-4 my-4 flex flex-col items-center justify-around text-center md:flex-row md:gap-2 md:text-left lg:gap-0">
    <div class="font-sans order-first flex flex-col items-center">
      <h1 class="mb-2 text-4xl font-bold tracking-tight">Maverick Espinosa</h1>
      <p class="text-lg mb-1 md:mb-2">Software Engineer, Researcher, Music Producer</p>
      <a
        href="assets/files/Resume_09_20_2025.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="hidden md:inline-flex w-auto items-center gap-2 rounded-full bg-zinc-100 px-3 py-1 text-base font-medium text-black shadow transition hover:bg-zinc-200"
        >
        <PaperclipIcon className="h-4 w-4" />
        Resume
      </a>
    </div>
    <div class="order-last font-sans sm:order-first flex flex-col items-center">
      <img
        src="/assets/headshot_500x500.webp"
        alt="Headshot"
        class="rounded-lg w-70 mb-4 md:h-64 md:mb-0 border border-solid border-[#222222]/10 shadow-[0_7px_14px_#EAEAEA]"
      />
      <a
        href="assets/files/Resume_09_20_2025.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="inline-flex w-auto items-center gap-2 rounded-full bg-zinc-100 px-3 py-1 text-base font-medium text-black shadow transition hover:bg-zinc-200  md:hidden"
        >
        <PaperclipIcon className="h-4 w-4" />
        Resume
      </a>
    </div>
  </section>

  <div class="border-t-4 border-gray-200 mt-6 mb-6" />
  <section class="ml-6 mb-4 space-y-4">
    <p>
      Hi, I'm Maverick. I'm currently working on autonomous vessel data ingestion and parsing at
      <Link href="https://www.jhuapl.edu/">Johns Hopkins Applied Physics Lab</Link>, and have previously worked at <Link href="https://hopkinspsychedelic.org/">The Center for
      Psychadelic & Consciousness Research</Link> at Johns Hopkins University. In the past, I led developers at <Link href="https://www.q2l.app/">Quest2Learn</Link> and worked at
      multiple startups: <Link href="https://www.wisecities.us/">WiseCities</Link>, <Link href="https://www.pactspace.co/">PactSpace</Link>, <Link href="https://visual-score.com/">VisualScore</Link>.
    </p>
    <p>
      I am completing my MS in Computer Science at University of Illinois Urbana-Champaign,
      where I primarily study Agentic Systems and Data Engineering: Graph Neural Networks,
      Cloud Computing, and Data Mining.
    </p>
    <p>
      I recieved my BS in Computer Science at Johns Hopkins University, where I primarily studied Data Science and Software Engineering.
    </p>
    <p>
      I'm also a self-learned music producer, and I like to make beats and remixes with friends on FL-Studio
      in my spare time. I am currently in the process of mastering my midi keyboard using <Link href="https://melodics.com/">Melodics</Link> and am in
      the process of learning guitar.
    </p>
    <p>
      Oh, I also love to tinker! I have dabbled with vocal mixing & mastering, sound design, and creating synth patches with plug data. Feel free to reach out if you have any creative music ideas you would want to work on. I am very interested in finding ways to apply my computer science skills to creative disciplines!
    </p>
    <p>
      Some of my other interests include calisthenics + weight lifting, cooking, note-taking
      systems, biking, and creative coding.
    </p>
  </section>
</SiteLayout>
