---
import SiteLayout from "@layouts/SiteLayout.astro"
import Link from "@components/Link"
import PageHeader from "@components/PageHeader.astro"
---

<SiteLayout title="Keyboards">
  <PageHeader>Keyboards</PageHeader>

  <div class="mb-8 space-y-4">
    <p>
      In service of my arm and wrist health, I type on a
      <!-- prettier-ignore -->
      <Link href="https://kinesis-ergo.com/keyboards/advantage360/">Kinesis Advantage360 Pro</Link>
      and customize my keymap with <Link href="https://zmk.dev/">ZMK</Link>.
    </p>
    <p>
      I previously used an <Link href="https://ergodox-ez.com/">Ergodox EZ</Link>
      with
      <!-- prettier-ignore -->
      <Link href="https://mechkeys.com/products/ttc-flaming-purple-snow-mechanical-keyboard-switches?variant=43517493739743">TTC Flaming Purples</Link>.
      This keyboard was amazing - the Flaming Purples are a great typing experience, and the
      software from ZSA is incredibly well-done - but unfortunately, it didn't end up fixing my
      wrist issues in the same way as the Kinesis.
    </p>
    <p>
      Here is my current layout, drawn with
      <Link href="https://github.com/caksoylar/keymap-drawer">keymap-drawer</Link>. This image
      automatically updates whenever I make a change to the layout and rebuild the firmware!
    </p>
  </div>

  <img
    src="https://github.com/debashisbiswas/Adv360-Pro-ZMK/blob/V3.0/keymap-drawer/adv360.svg?raw=true"
    alt="Current keyboard layout"
  />
</SiteLayout>
