---
import SiteLayout from "@layouts/SiteLayout.astro"
import { Page } from "@components/Page";
import { PageHeader } from "@components/PageHeader.tsx"
---

<SiteLayout title="Research">
  <PageHeader>Research</PageHeader>
  <div class="border-t-4 border-gray-200 mb-6" />
  <Page>
    <h2 class="mb-2 font-sans text-xl font-bold tracking-tight">ULab</h2>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">TinyTutor</h3>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>

    <h2 class="mb-2 font-sans text-xl font-bold tracking-tight">Center for Psychadelic & Consciousness Research</h2>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">QA Library</h3>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">PHI Redactor</h3>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">Data Catalog</h3>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">Protocol Deviations + Adverse Events Redcap Tool</h3>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>

    <h2 class="mb-2 font-sans text-xl font-bold tracking-tight">Toscano Lab</h2>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">Hydropersulfides</h3>
    <p>
        I was born in Dallas, Texas and raised mostly in Phoenix Arizona where I went to highschool at Pinnacle Highschool.
        I moved to Baltimore, Maryland and finished my BS in computer science at Johns Hopkins University. I am currently pursuing my
        Masters of computer science at the University of Illinois at Urbana-Champaign.
    </p>
  </Page>
</SiteLayout>
