---
import SiteLayout from "@layouts/SiteLayout.astro"
import { Page } from "@components/Page";
import { PageHeader } from "@components/PageHeader.tsx"
---

<SiteLayout title="Research">
  <PageHeader>Research</PageHeader>
  <div class="border-t-4 border-gray-200 mb-6" />
  <Page>
    <h2 class="mb-2 font-sans text-3xl font-bold tracking-tight">ULab</h2>
    <p>
        Directed by Professor Jiaxuan You, U Lab focuses on utilizing Graph Neural Networks for various applications.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">TinyTutor</h3>
    <p>
        This is my first project with U Lab and Im currently in the ideation stage.
    </p>

    <h2 class="mb-2 font-sans text-3xl font-bold tracking-tight">Center for Psychadelic & Consciousness Research</h2>
    <p>
        At the Center for Psychedelic and Consciousness Research, our mission is to answer the most important questions in psychedelic research, therapy, and clinical education, and broaden the field of psychedelic science in collaboration with the best  multi-disciplinary scientists in the world. We will conduct rigorous clinical trials that adhere to the highest ethical standards while elucidating underlying mechanisms driving psychedelic effects and therapeutic efficacy. We will provide evidence-based education to clinicians and the broader community to contribute to the development of innovative therapeutic approaches that benefit individuals and society. 
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">QA Library</h3>
    <p>
        BPRU Questionnaire Analysis Library contains functions to score all measures / questionarres used in CPCR studies.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">PHI Redactor</h3>
    <p>
        Automatically detect and redact PHI in any data we work with.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">Data Catalog</h3>
    <p>
        Data Management system to organize, distribute, store scored studies conducted by the organization. Connects with other tools such as the QA Library, AE, PD report generator, and more.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">Protocol Deviations + Adverse Events Redcap Tool</h3>
    <p>
        ingests and parses adverse event and protocol deviation data from redcap into a human-readible easily identifiable html page.
    </p>

    <h2 class="mb-2 font-sans text-3xl font-bold tracking-tight">Toscano Lab</h2>
    <p>
        In order to explore the chemistry and biology of these reactive sulfur species we aim to explore: 1. Novel ways to generate hydropersulfides 2. The fundamental properties of hydropersulfides 3. Biochemical effects of hydropersulfides 4. Reagents capable of specific and efficient protein persulfidation.
    </p>
    <h3 class="mb-2 font-sans text-xl font-bold tracking-tight">Lab Work</h3>
    <p>
        TODO
    </p>
  </Page>
</SiteLayout>
