---
import PageHeader from "@components/PageHeader.astro"
import SiteLayout from "@layouts/SiteLayout.astro"
import { getCollection } from "astro:content"

const posts = (await getCollection("streams")).sort(
  (postA, postB) => +postB.data.date - +postA.data.date,
)

const formatter = new Intl.DateTimeFormat("en", {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
  timeZone: "UTC",
})
---

<SiteLayout title="Streams">
  <PageHeader>Streams</PageHeader>

  {
    posts.map(async (post) => {
      const { Content } = await post.render()

      return (
        <div class="group">
          <time class="mb-4 block">{formatter.format(post.data.date)}</time>

          <div class="prose max-w-none">
            <Content />
          </div>

          <hr class="my-6 border-zinc-400 group-last:hidden" />
        </div>
      )
    })
  }
</SiteLayout>
