.header-bg
{
    background-color: #563d7c;
}

.btn-primary
{
	color: #fff;
	background-color: #593196;
	border: 1px solid transparent;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:focus
{
	color: #fff;
	background-color: #593196;
	border: 1px solid transparent;
	box-shadow: 0 0 0 0.2rem rgb(89 49 150 / 50%);
}

.btn-primary:hover
{
	background-color: #482879;
	border-color: #422470;
}

.contact-links a
{
	color: #cbbde2;
}

.contact-links a:hover
{
	color: white;
}

.contact-svg
{
	display: inline-block;
	width: 2rem;
	height: 2rem;
}

.page-footer
{
	font-size: .875rem;
	text-align: center;
	background-color: #f7f7f7;
}

.page-footer a
{
	font-weight: 600;
	color: #495057;
}

.page-footer a:focus, .page-footer a:hover
{
    color: #007bff;
}