---
interface Props {
  href: string
}

const { href } = Astro.props
---

<a
  href={href}
  target="_blank"
  class="w-20 rounded-lg bg-gradient-to-r from-violet-500 via-violet-600 to-violet-700 px-4 py-1.5 text-center text-sm text-white focus:outline-none focus:ring-4 focus:ring-purple-300"
  ><slot />
</a>
