---
import SiteLayout from "@layouts/SiteLayout.astro"
import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"

export const getStaticPaths = (async () => {
  const blogEntries = await getCollection("blog")
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}) satisfies GetStaticPaths

const { entry } = Astro.props
const { Content } = await entry.render()

const dateAsString = entry.data.publishDate.toDateString()
---

<SiteLayout>
  <h3 class="mb-2 text-3xl font-bold tracking-tight">{entry.data.title}</h3>
  <p class="mb-6 text-slate-400 tracking-tight">{entry.data.author}, {dateAsString}</p>

  <div
    class="prose prose-invert max-w-none lg:prose-lg prose-code:before:hidden prose-code:after:hidden"
  >
    <Content />
  </div>
</SiteLayout>
