---
import PageHeader from "@components/PageHeader.astro"
import SiteLayout from "@layouts/SiteLayout.astro"
import { getCollection } from "astro:content"

const posts = (await getCollection("blog")).sort(
  (postA, postB) => +postB.data.publishDate - +postA.data.publishDate
)

const formatter = new Intl.DateTimeFormat("en", { dateStyle: "medium", timeZone: "UTC" })
---

<SiteLayout title="Blog">
  <PageHeader>Posts</PageHeader>

  <div class="space-y-5">
    {
      posts.map((post) => (
        <a href={post.slug + "/"} class="block">
          {post.data.title}
          <span class="ml-1 text-sm text-zinc-400">{formatter.format(post.data.publishDate)}</span>
        </a>
      ))
    }
  </div>
</SiteLayout>
