---
import SiteLayout from "@layouts/SiteLayout.astro"
import { getCollection } from "astro:content"

const posts = (await getCollection("blog")).sort(
  (postA, postB) => +postB.data.publishDate - +postA.data.publishDate
)

const formatter = new Intl.DateTimeFormat("en", { dateStyle: "medium" })
---

<SiteLayout>
  <h3 class="mb-6 text-3xl font-bold tracking-tight">Blog Posts</h3>

  <div class="space-y-3">
    {
      posts.map((post) => (
        <a href={post.slug + "/"} class="block">
          {post.data.title}
          <em class="ml-1 text-sm text-zinc-400">{formatter.format(post.data.publishDate)}</em>
        </a>
      ))
    }
  </div>
</SiteLayout>
