---
import Link from "@components/Link.astro"
import PageHeader from "@components/PageHeader.astro"
import SiteLayout from "@layouts/SiteLayout.astro"
import { getCollection } from "astro:content"

const posts = (await getCollection("blog")).sort(
  (postA, postB) => +postB.data.publishDate - +postA.data.publishDate
)

const formatter = new Intl.DateTimeFormat("en", {
  day: "2-digit",
  month: "2-digit",
  year: "numeric",
  timeZone: "UTC",
})
---

<SiteLayout title="Blog">
  <PageHeader>Posts</PageHeader>

  <div class="space-y-5">
    {
      posts.map((post) => (
        <div>
          <time class="inline-block min-w-24 text-zinc-400">
            {formatter.format(post.data.publishDate)}
          </time>

          <Link href={post.slug + "/"}>{post.data.title}</Link>
        </div>
      ))
    }
  </div>
</SiteLayout>
