---
import SiteLayout from "@layouts/SiteLayout.astro"
import PerformanceDisplay from "@components/PerformanceDisplay.astro"

import type { PerformanceData } from "../types"

export const performances: PerformanceData[] = [
  {
    name: "Boots: Va Larga",
    date: "May 1, 2024",
    hrefLink: "https://youtu.be/zygsNP0-W5o",
    thumbnailLink: "https://img.youtube.com/vi/zygsNP0-W5o/mqdefault.jpg",
  },
  {
    name: "Boots: MEGAFAUNA",
    date: "May 1, 2024",
    hrefLink: "https://youtu.be/FjC0qKOcnQI",
    thumbnailLink: "https://img.youtube.com/vi/FjC0qKOcnQI/mqdefault.jpg",
  },
  {
    name: "Merkley: Silent Night",
    date: "December 13, 2023",
    hrefLink: "https://youtu.be/Sylb5G3sI6A",
    thumbnailLink: "https://img.youtube.com/vi/Sylb5G3sI6A/mqdefault.jpg",
  },
  {
    name: "Day: Concerto for Wind Ensemble",
    date: "April 16, 2022",
    hrefLink: "https://www.youtube.com/playlist?list=PLJgbNlanoROsLIJggw2_pX9qoAVvr7w7y",
    thumbnailLink: "https://img.youtube.com/vi/lAunyfdN8Tk/mqdefault.jpg",
  },
  {
    name: "Senior Clarinet Recital",
    date: "April 16, 2022",
    hrefLink: "https://www.youtube.com/watch/1t8fU8YPe2c",
    thumbnailLink: "/assets/recital.jpg",
  },
  {
    name: "Lowenstern: My Favorite Things",
    date: "February 21, 2022",
    hrefLink: "https://www.youtube.com/watch/kQSEs8U5Ee4",
    thumbnailLink: "https://img.youtube.com/vi/kQSEs8U5Ee4/mqdefault.jpg",
  },
  {
    name: "Parker: Grooves",
    date: "November 15, 2021",
    hrefLink: "https://www.youtube.com/watch/Lv3ftDBDmh0?start=34",
    thumbnailLink: "https://img.youtube.com/vi/Lv3ftDBDmh0/mqdefault.jpg",
  },
  {
    name: "Piazzolla: 3 Tangos (Live)",
    date: "November 21, 2020",
    hrefLink: "https://www.youtube.com/watch/bs_aJkjmj64?start=3407",
    thumbnailLink: "https://img.youtube.com/vi/bs_aJkjmj64/mqdefault.jpg",
  },
  {
    name: "Piazzolla: 3 Tangos",
    date: "November 15, 2020",
    hrefLink: "https://www.youtube.com/watch/d8VvURsGo2E",
    thumbnailLink: "https://img.youtube.com/vi/d8VvURsGo2E/mqdefault.jpg",
  },
  {
    name: "Views of the Blues with Lizeth Gil",
    date: "April 25, 2020",
    hrefLink: "https://www.youtube.com/watch/txnp8mszRsU?start=2080",
    thumbnailLink: "https://img.youtube.com/vi/txnp8mszRsU/mqdefault.jpg",
  },
  {
    name: "Szalowski: Sonatina - 1, 2",
    date: "December 2, 2019",
    hrefLink: "https://www.youtube.com/watch/JgM6tUMkcaY",
    thumbnailLink: "https://img.youtube.com/vi/JgM6tUMkcaY/mqdefault.jpg",
  },
  {
    name: "Mandat: Tricolor Capers - 1, 2",
    date: "October 28, 2019",
    hrefLink: "https://www.youtube.com/watch/LWCXOTGhLk0",
    thumbnailLink: "https://img.youtube.com/vi/LWCXOTGhLk0/mqdefault.jpg",
  },
  {
    name: "Mandat: Tricolor Capers - 1",
    date: "September 23, 2019",
    hrefLink: "https://www.youtube.com/watch/Wl-MR09BpGc",
    thumbnailLink: "https://img.youtube.com/vi/Wl-MR09BpGc/mqdefault.jpg",
  },
  {
    name: "Weber: Concertino",
    date: "July 15, 2019",
    hrefLink: "https://www.youtube.com/watch/0YFkiAuHW-M",
    thumbnailLink: "https://img.youtube.com/vi/0YFkiAuHW-M/mqdefault.jpg",
  },
]
---

<SiteLayout>
  <h3 class="mb-6 text-3xl font-bold tracking-tight">Music Performances</h3>
  <div class="grid gap-4 md:grid-cols-2">
    {performances.map((performance) => <PerformanceDisplay {performance} />)}
  </div>
</SiteLayout>
