---
import Head from "@components/Head.astro"
import { HeaderSection } from "@components/Header"
import { FooterSection } from "@components/Footer"

interface Props {
  title?: string
  description?: string
}

const title = Astro.props.title ? `${Astro.props.title} | Maverick Espinosa` : "Maverick Espinosa"
const description = Astro.props.description ?? "Software Engineer, Music Producer"
---

<!doctype html>
<html lang="en">
  <head>
    <Head {title} {description} />
  </head>
  <body>
    <HeaderSection client:load />
    <main class="max-w-screen-lg bg-zinc-50 px-6 pb-4 pt-2 font-serif text-lg text-zinc-900 md:mx-auto">
      <slot />
    </main>
    <FooterSection client:load/>
  </body>
</html>
