---
import Head from "@components/Head.astro"

interface Props {
  title?: string
  description?: string
}

const title = Astro.props.title ? `${Astro.props.title} | Maverick Espinosa` : "Maverick Espinosa"
const description = Astro.props.description ?? "Software Engineer, Music Producer"
---

<!doctype html>
<html lang="en">
  <head>
    <Head {title} {description} />
  </head>
  <body>
    <slot />
  </body>
</html>
