---
import Head from "@components/Head.astro"
import Nav from "@components/Nav.astro"
import Footer from "@components/Footer.astro"

interface Props {
  title?: string
  description?: string
}

const title = Astro.props.title ? `${Astro.props.title} | Maverick Espinosa` : "Maverick Espinosa"
const description = Astro.props.description ?? "Software engineer, musician"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head {title} {description} />
  </head>

<body class="w-full bg-zinc-50">
  <Nav />
  <main role="main" class="max-w-screen-md md:mx-auto px-6 pb-32 pt-2 font-serif text-lg text-zinc-900">
    <slot />
  </main>
  <Footer />
</body>
</html>
