---
import Link from "./Link.astro"
---

<header>
  <div class="md:flex md:items-center md:justify-between">
    <div class="mb-4 h-fit md:mb-0 md:mr-4">
      <h1 class="mb-6 text-3xl font-bold tracking-tight">Hi, I'm Debashis.</h1>

      <div class="space-y-5">
        <p>
          You can find me on
          <Link href="https://github.com/debashisbiswas/">GitHub</Link>,
          <Link href="https://x.com/raenastra">Twitter</Link>, and
          <Link href="https://www.linkedin.com/in/d-biswas/">LinkedIn</Link>.
        </p>
        <p>
          I'm a software engineer with nearly a decade of experience in backend, automation,
          developer tooling, web, and mobile projects. I currently spend most of my time using
          TypeScript and Python, and I'm comfortable in other languages as well.
        </p>
        <p>
          During my Master's, I primarily studied cybersecurity: binary analysis and exploitation,
          reverse engineering, and network security.
        </p>
        <p>I'm presently interested in working on developer tooling and music applications.</p>
        <p>
          In my free time, I've recently been exploring real-time distributed systems for music
          applications, programming language and type theory, design and UX, infrastructure as code,
          and DevOps.
        </p>
        <p>I also play music, and I have a degree in clarinet performance!</p>
      </div>
    </div>
  </div>
</header>
