---
import Link from "./Link.astro"
---

<header>
  <!-- Outer container -->
  <div class="md:flex md:items-center md:justify-between">
    <!-- Top/left side -->
    <div class="mb-4 h-fit md:mb-0 md:mr-4">
      <h1 class="mb-2 text-4xl font-bold tracking-tight sm:text-5xl">Debashis Biswas</h1>
      <div class="mb-6 flex justify-start space-x-4">
        <Link href="https://github.com/debashisbiswas/">GitHub</Link>
        <Link href="https://www.linkedin.com/in/d-biswas/">LinkedIn</Link>
      </div>

      <div class="space-y-6 text-xl text-slate-400">
        <p>
          Software engineer with nearly a decade of experience in backend, automation, developer
          tooling, web, and mobile projects. I currently spend most of my time using TypeScript and
          Python, and I'm comfortable in other languages as well.
        </p>
        <p>
          During my Master's, I primarily studied cybersecurity: binary analysis and exploitation,
          reverse engineering, and network security.
        </p>
        <p>I'm presently interested in working on developer tooling and music applications.</p>
        <p>
          In my free time, I've recently been exploring real-time distributed systems for music
          applications, programming language and type theory, design and UX, infrastructure as code,
          and DevOps.
        </p>
        <p>I also play music, and I have a degree in clarinet performance!</p>
      </div>
    </div>
  </div>
</header>
