<header>
  <!-- Outer container -->
  <div class="my-4 md:flex md:items-center md:justify-between">
    <!-- Top/left side -->
    <div class="mb-4 h-fit md:mb-0 md:mr-4">
      <h1 class="mb-4 text-4xl font-bold tracking-tight sm:text-5xl">Debashis Biswas</h1>
      <div class="mb-4">
        <h2 class="mb-1 text-xl text-gray-500 sm:text-2xl">MS Computer Science</h2>
        <h2 class="mb-1 text-xl text-gray-500 sm:text-2xl">
          BS Computer Science, BMus Clarinet Performance
        </h2>
        <h2 class="mb-1p-4 shadowext-gray-500 sm:text-2xl"></h2>
      </div>

      <div class="mb-4 text-lg">
        <p class="mb-2">
          I'm Debashis, a software engineer at Garmin. I have a master's degree in Computer Science
          from Arizona State University, where I dove deep into cybersecurity. I've completed
          projects in embedded, backend, web, and have managed a few small teams.
        </p>
        <p>I also play music, and I have a degree in clarinet performance!</p>
      </div>

      <div class="flex justify-start space-x-4">
        <a
          href="https://github.com/debashisbiswas/"
          class="underline decoration-purple-500 decoration-2 underline-offset-2 transition ease-out hover:text-purple-600"
          >GitHub</a
        >
        <a
          href="https://www.linkedin.com/in/d-biswas/"
          class="underline decoration-purple-500 decoration-2 underline-offset-2 transition ease-out hover:text-purple-600"
          >LinkedIn</a
        >
      </div>
    </div>

    <!-- Bottom/right side -->
    <img src="beach.webp" class="h-80 w-80 rounded-full" />
  </div>
</header>
