---
import Link from "./Link.astro"
---

<header>
  <!-- Outer container -->
  <div class="md:flex md:items-center md:justify-between">
    <!-- Top/left side -->
    <div class="mb-4 h-fit md:mb-0 md:mr-4">
      <h1 class="mb-3 text-4xl font-bold tracking-tight sm:text-5xl">Debashis Biswas</h1>
      <h2 class="mb-4 text-lg font-medium tracking-tight sm:text-xl">
        Software Engineer at Garmin
      </h2>

      <div class="mb-4 text-slate-400">
        <p class="mb-2">
          I'm Debashis, a software engineer at Garmin. I have a master's degree in Computer Science
          from Arizona State University, where I dove deep into cybersecurity. I've completed
          projects in embedded, backend, web, and have managed a few small teams.
        </p>
        <p>I also play music, and I have a degree in clarinet performance!</p>
      </div>

      <div class="flex justify-start space-x-4">
        <Link href="https://github.com/debashisbiswas/">GitHub</Link>
        <Link href="https://www.linkedin.com/in/d-biswas/">LinkedIn</Link>
      </div>
    </div>
  </div>
</header>
