---
interface Props {
  href: string
}

const { href } = Astro.props
---

<a
  href={href}
  target="_blank"
  class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 rounded-lg text-sm px-4 py-1.5 text-center"
  ><slot />
</a>
