---
interface Route {
  displayName: string
  route: string
}

const routes: Route[] = [
  {
    displayName: "Home",
    route: "/",
  },
  {
    displayName: "Software",
    route: "/software/",
  },
  {
    displayName: "Blog",
    route: "/blog/",
  },
  {
    displayName: "Streams",
    route: "/streams/",
  },
  {
    displayName: "Music",
    route: "/music/",
  },
  {
    displayName: "Inspirations",
    route: "/inspirations/",
  },
  {
    displayName: "Keyboards",
    route: "/keyboards/",
  },
]

function isCurrentRoute(route: string): boolean {
  let pathname = new URL(Astro.request.url).pathname

  const onBaseRoute = route.length < 2
  return onBaseRoute ? pathname === route : pathname.startsWith(route)
}
---

<nav class="mb-8 mt-6 flex justify-center sm:justify-between">
  <div class="flex flex-wrap justify-center gap-3">
    {
      routes.map((route) => (
        <>
          {/* Avoid extra whitespace from formatter adding line breaks. */}
          {/* https://github.com/withastro/prettier-plugin-astro/issues/308 */}
          {/* prettier-ignore */}
          <a href={route.route} class:list={[
          "hover:cursor hover:bold hover:underline",
          isCurrentRoute(route.route) && "font-bold underline"
        ]}>{route.displayName}</a>
        </>
      ))
    }
  </div>

  <span class="hidden sm:inline">Debashis Biswas</span>
</nav>
