---
import type { PerformanceData } from "../types"

interface Props {
  performance: PerformanceData
}

const { performance } = Astro.props
---

<a
  href={performance.hrefLink}
  target="_blank"
  class="flex h-32 items-center justify-between overflow-hidden rounded-xl transition ease-in-out hover:scale-[102%]"
>
  <div class="p-4">
    <h3 class="mb-1 text-xl font-bold tracking-tight">{performance.name}</h3>
    <p class="text-lg tracking-tighter text-gray-500">{performance.date}</p>
  </div>

  {
    performance.thumbnailLink && (
    // Negative margin allows the text to overlap with the image on small screens.
    // There's probably a better way to accomplish this...
      <img class="opacity-mask -z-10 ml-[-60%] w-60 md:w-80" src={performance.thumbnailLink} />
    )
  }
</a>
