---
import SiteLayout from "@layouts/SiteLayout.astro"
import ProjectGrid from "@components/ProjectGrid"
import { Page } from "@components/Page"
import { PageHeader } from "@components/PageHeader"
---

<SiteLayout title="Projects">
  <PageHeader id="projects"> Projects </PageHeader>
  <div class="mb-6 border-t-4 border-black dark:border-zinc-200 rounded-lg"></div>
  <Page>
    <ProjectGrid client:load />
  </Page>
</SiteLayout>
