---
// For Tailwind.
import "../styles/global.css"

const { frontmatter } = Astro.props
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>
  <body class="py-12 bg-zinc-800">
    <article class="prose prose-invert prose-lg mx-auto max-w-screen-md">
      <slot />
    </article>
  </body>
</html>
