---
// For Tailwind.
import "../styles/global.css"

const { frontmatter } = Astro.props
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-zinc-50 py-12">
    <article class="prose prose-lg prose-invert mx-auto max-w-screen-md">
      <slot />
    </article>
  </body>
</html>
