---
import "@fontsource/lora"

import Head from "@components/Head.astro"
import Nav from "@components/Nav.astro"

interface Props {
  title?: string
  description?: string
}

const title = Astro.props.title ? `${Astro.props.title} | Debashis Biswas` : "Debashis Biswas"
const { description = "software engineer, musician" } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head {title} {description} />
  </head>

  <body class="max-w-screen-md bg-zinc-50 px-6 pb-32 pt-2 font-serif text-zinc-900 md:mx-auto">
    <Nav />

    <main role="main">
      <slot />
    </main>
  </body>
</html>
