---
import BaseHead from "@components/BaseHead.astro"
import Nav from "@components/Nav.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../content"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="mx-4 my-8 max-w-screen-md bg-zinc-50 text-zinc-800 lg:mx-auto">
    <Nav />

    <main role="main" class="mt-8">
      <slot />
    </main>
  </body>
</html>
